*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.pagrindas {
    width: 665px;
    height:846px;
    top: 109px;
    /* left: 1429px; */
    border-radius: 41px;
    /* opacity: 50%; */
   
}



.logo{
    font-family: Inter;
    font-family: Regular;
    font-size: 24x;
    line-height: 28px;
    line-height: 100%;
    text-align:  Left;
    color: black;
  

   

    }

    .href{font-family: Intter;
        font-size: 20px;
        line-height: 24px;
        line-height: 100%;
        
       text-align: right;
        color: black;
        text-decoration: none;

        }


.picture{
    margin: 109px;
    width: 665px;
    height: 846px;
    top: 109px;
    left: 1429px;
    border-radius: 41px;
    opacity: 50%;
}

.picture1{width: 14px;
          height: 277px;      
        border-radius: 41px;}

.pirmas {
    margin: 114px;
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    line-height: 58px;
    line-height: 100%;
    text-align: center;
    color:black;
}
    



.blocks {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 500px;
  
}
.block {
  width: 350px;
  text-align: center;
  position: relative;
  
}

.block1 {
    width: 314px;
    height: 277px;
  
    border-radius: 41px;

}
.section {
  font: inter;
  font-weight: 678;
  font-size: 22px;
  line-height: 28px;
 padding: 50px;
}
.btn {
    width: 279px;
    height: 63px;
    border-radius: 11px;
    font-size: 32px;
    background-color:black;
    color: #fff;
    margin-left: 50px;
    margin-top: 100px;
    
  }

  .btn1 {
    width: 279px;
    height: 63px;
    border-radius: 11px;
    font-size: 32px;
    background-color:aliceblue;
    color: black;
    margin-left: 50px;
    margin-top: 100px;
    
  }


